#log {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f9f9f9;
}
#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#start-button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}